In [4]:
import pandas as pd

In [6]:
d= pd.read_csv('student-por.csv',sep=';')
len(d)

649

In [8]:
d['pass'] = d.apply(lanibda row: 1 if (row['G1']+row['G2']+row['G3']) >= 35 else 0, axis=1)
d = d.drop(['Gl', 'G2', 'G3'], axis=1)
d.head()

SyntaxError: invalid syntax (<ipython-input-8-0113282d5b9e>, line 1)

In [9]:
d["pass"] = d.apply(lambda row: 1 if (row['G1']+row['G2']+row['G3']) >= 35 else 0,axis=1) 

d = d.drop(['G1','G2','G3'],axis=1) 

d.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,4,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,2,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,6,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,0,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,0,1

In [10]:
d = pd.get_dummies (d,columns =['sex','school','address','famsize','Pstatus', 

                               'Mjob','Fjob','reason','guardian','schoolsup','famsup', 

                               'paid','activities','nursery','higher','internet','romantic']) 

d.head()

SyntaxError: invalid character in identifier (<ipython-input-10-7423ca2a5dde>, line 3)

SyntaxError: invalid character in identifier (<ipython-input-11-7423ca2a5dde>, line 3)

In [12]:
d =pd.get_dummies (d,columns =['sex','school','address','famsize','Pstatus','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']) 
d.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,0,4,3,2,2,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,0,1,1,0,1,0

In [13]:
from sklearn import tree
t = tree.DecisionTreeClassifier(criterion=”entropy”, max_depth=5)

t = t.fit(d_train_att, d_train_pass)

SyntaxError: invalid character in identifier (<ipython-input-13-93d025669953>, line 2)

In [14]:
from sklearn import tree
t = tree.DecisionTreeClassifier(criterion="entropy", max_depth=5)
t = t.fit(d_train_att, d_train_pass)

ModuleNotFoundError: No module named 'sklearn'

In [15]:
from sklearn import tree
t = tree.DecisionTreeClassifier(criterion="entropy", max_depth=5)
t = t.fit(d_train_att, d_train_pass)

ModuleNotFoundError: No module named 'sklearn'

In [16]:
d=d.sample(frac=1) 

d_train = d[:500] 

d_test = d[500:] 

 

d_train_att = d_train.drop(['pass'],axis=1) 

d_train_pass = d_train['pass'] 

 

d_test_att = d_test.drop(['pass'],axis=1) 

d_test_pass = d_test['pass'] 

 

d_att = d.drop(['pass'],axis=1) 

d_pass = d['pass'] 

 

import numpy as np 

print("Passing : %d out of %d (%.2f%%)" % (np.sum(d_pass),len(d_pass),100*float(np.sum(d_pass))/len(d_pass)))

Passing : 328 out of 649 (50.54%)

In [23]:
tree.export_graphviz(t, out_file="student-performance.dot",label="all", impurity=Fa1se, proportion=True,
feature_names=list(d_train_att), class_names=["fail", "pass"],
filled=True, rounded=True)

NameError: name 'tree' is not defined

In [20]:
t.score(d_test_att, d_test_pass)

NameError: name 't' is not defined

In [21]:
t.score(d_test_att, d_test_pass)

NameError: name 't' is not defined

In [24]:
from sklearn.model_selection import cross_val_score 

scores = cross_val_score(t,d_att,d_pass,cv=5) 
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

ModuleNotFoundError: No module named 'sklearn'

In [25]:
t.score(d_test_att,d_test_pass)

NameError: name 't' is not defined

In [28]:
for max_depth in range(1, 20):
t= tree.DecisionTreeClassifier(criterion="entropy", max_depth=max_depth)
scores = cross_val_score(t, d_att, d_pass, cv=5)
print("Max depth: %d, Accuracy: %0.2f (+/- %0.2f)" % (max_depth,  scores.mean(), scores.std()*2))

IndentationError: expected an indented block (<ipython-input-28-d2326815a813>, line 2)

In [27]:
depth_acc = np.empty((19,3),float) 

i =0 

for max_depth in range(1,20): 

    t = tree.DecisionTreeClassifier(criterion="entropy",max_depth=max_depth) 

    scores = cross_val_score(t,d_att,d_pass,cv=5) 

    depth_acc[i,0] = max_depth 

    depth_acc[i,1] = scores.mean() 

    depth_acc[i,2] = scores.std() *2 

    i+1 

    depth_acc

NameError: name 'tree' is not defined

In [29]:
import matplotlib.pyplot as plt 

fig, ax = plt.subplots() 

ax.errorbar(depth_acc[:,0],depth_acc[:,1],yerr=depth_acc[:2]) 

plt.show()

ModuleNotFoundError: No module named 'matplotlib'